/*! style.css v0.1.0 */


html {
    background: #333;
    color: #333;
}

body {
    /*background-image: url(../img/CAC_small.jpg);*/
    width: 90%;
    height: 100%;
    max-width: 1500px;

    padding: 2% 3% 0% 3%;
    margin: 0% auto 2% auto;

    font-size: 30px;
    line-height: 40px;
    text-align: center;
    word-spacing: 0.1em;
}

footer{
    margin-top: 10%;
    color: #eee;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover{
    outline: 0;
}

a {
    text-decoration: none;
    position: relative;
    color: #a33;
}

a:active {
    top: 1px;
}

p.gallery-cc > a{
    text-decoration: underline;
}

h1{
    font-family: 'Playfair Display SC', serif;
    font-weight: 400;
    font-size: 3em;
    color: #eee;
}

h2{

}
h3{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;

}

b, strong {
    font-weight: bold;
}

p {
    font-family: 'Playfair Display', serif;
    font-weight: 200;
}

.page-content{
    background:  #fefefe;
    padding: 5%;
    margin-bottom: 5%;
}

.div-root{

}

.div-fragment {
    margin-top: 50px;
    margin-bottom: 15%;
}

.big-link{
    font-family: 'Playfair Display SC', serif;
    font-weight: 400;
    font-size: 2.4em;
    margin-bottom: 50px;
    color: #333;
}

.version-footer{
    font-size: 0.6em;
    vertical-align: baseline;
}

.gallery-header{
    font-weight: 900;
}

.contact-header{
    font-weight: 900;
}

.contact-text{

}

.contact-email-text{
    font-family: 'Montserrat', sans-serif;
}

.contact-email-publickey{
    color: #366;
    border
}

.art-div-gallery{

}

.portfolio-header{
    font-weight: 900;
}

.portfolio-text{

}

.portfolio-stats-list{
    margin-left: 5%;

    list-style-type: circle;
}

section > div > p{
    font-family: 'Playfair Display SC', serif;
}

#top-banner{
    font-size: 3em;
    font-family: 'Oranienbaum', serif;
    font-weight: 400;
    font-stretch: extra-expanded;

    color: #444;
}

#top-banner a{
    color:inherit;
}

#portfolio-page .div-root{
    text-align: left;
}

#email-div{
    border-width: thin;
    border-color: grey;
    border-style: solid;
    border-radius: 0em;
}

#linkedin-div{
    margin: 0px;
}
